<!DOCTYPE html>
<html>
  <head>
    <title>{{ .title}}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body class="container">
      <div class="row">
    {{range .videos }}  
      <div class="card">
        <h4>{{.Title}}</h4>
        <h3>{{.Description}}</h4>
      </div>
      {{end}}
    </div>
  </body>
</html>
